/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Lattes - One page multi purpose page
Version:	1.0
Last change:	17/08/2015 [...]
Designed by:	MOOZ Themes / www.MOOZthemes.com
Primary use:	One page

[Table of contents]

1. General
2. Header
3. Navigation
4. Sections
5. Footer
6. Components

[Color codes]

Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/

/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,latin-ext);

/*--------------------
1. General
--------------------*/

body {
  margin: 0px;
  font-family: "Open Sans", Sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Open Sans", Sans-serif;
    color: #232323;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
	line-height: 23px;
    letter-spacing: 0.2px;
    color: #797979;
}

a:hover, a:focus, a:active, a.active {
    color: #E74C3C;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    cursor: pointer;
}

::selection {
    text-shadow: none;
    background:#EC7063;
}

@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}

section {
    padding: 70px 0;
}

.preload * {
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

/*--------------------
2. Navigation
--------------------*/

.navbar-default {
	background-color: #222;
  border-color: transparent;
  padding: 10px 15px;
}
.navbar-default .navbar-brand {
	color: #fff !important;
	font-family: "Montserrat",sans-serif;
  padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #E74C3C
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: #E74C3C;
	border-color: #E74C3C
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #E74C3C
}
.navbar-default .nav li a {
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color:#fff
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #E74C3C;
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #E74C3C
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #E74C3C
}

@media (min-width:768px) {
	.navbar-default
	{
		background-color: transparent;
		padding: 25px 100px;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default.navbar-shrink {
		background-color: #222;
		padding: 10px 50px;
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em
	}
}

/*--------------------
3. Header
--------------------*/

header {
    background-image: url('../images/cyber_original.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}



@media (min-width: 768px) {
	header .intro-text {
	    padding-top: 200px;
	    padding-bottom: 100px;
	}
}

header .intro-text .intro-lead-in {
    /*font-family: "Playfair Display",sans-serif;*/
    /*font-style: italic;*/
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text .intro-lead-in {
	    /*font-family: "Playfair Display",sans-serif;*/
	    /*font-style: italic;*/
	    font-size: 40px;
	    line-height: 40px;
	    margin-bottom: 25px;
	}
}

header .intro-text .intro-heading {
    /*text-transform: uppercase;*/
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text .intro-heading {
	    /*text-transform: uppercase;*/
	    font-weight: 700;
	    font-size: 75px;
	    line-height: 75px;
	    margin-bottom: 50px;
	}
}

#intro-text{
  animation-name: text-appear;
  animation-duration: 5.5s;
  animation-delay: 0s;
  animation-timing-function: ease;
}

@keyframes text-appear{
  0%{
    color:transparent;
    margin-top:100px;
  }
  20%{
    color: transparent;
    margin-top: 100px;
  }
  100%{
    color: #fff;
    margin-top:0px;
  }
}

#logo-principal{
  width:70%;
  margin-bottom: 50px;
  animation-name:logo-principal-animation;
  animation-duration:4.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
}


@media (min-width: 768px){
  #logo-principal{
    width:30%;
    margin-bottom: 100px;
    animation-name:logo-principal-animation;
    animation-duration:5.7s;
    animation-timing-function: ease;
    animation-delay: 0s;
  }
}

@keyframes logo-principal-animation {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/*--------------------
4. Sections
--------------------*/

.section-title h2 {
    font-size: 34px;
    text-transform: uppercase;
}

.section-title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 20px 100px 20px 100px;
}

@media (max-width:780px){
  .section-title p {
      margin: 20px 10px 20px 10px;
  }
}

/*--------------------
4.1. About
--------------------*/

.mz-module-about h3 {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #3A3A3A;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.mz-module-about p {
font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #969696;
}

.ot-circle {
height: 95px;
    width: 95px;
    text-align: center;
    line-height: 98px;
    color: #3E3E3E;
    /* border: 3px solid #000; */
    border-radius: 100px;
    /* background-color: #E8E8E8; */
    margin: 0 2px 4px;
    font-size: 31px;
}

/*--------------------
4.2. Skills
--------------------*/

.opportunities-bg{
  background-image: url(../images/opportunities.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.skills-text h2 {
	margin: 0 0 30px;
  color: #DFDFDF;
}
.skills-p{
  color: #DFDFDF;

}

.skillbar-item {
    margin-bottom: 30px;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
}


.skillbar-bar {
  display: block;
  background-color: rgba(255,255,255,0.2);
  height: 3px;
  width: 100%;
}

.skillbar-item:hover h3{
  color: greenyellow;
  /*color: #E74C3C;*/

}

.skillbar-item:hover .skillbar-bar{
  background-color: greenyellow;
  /*background-color: #E74C3C;*/
}

.skillbar h3 {
	font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #DFDFDF;
    letter-spacing: 2px;
margin: 0;
    padding: 12px 0;
}

.skillbar-percent {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    float: left;
    height: 3px;
}

/*--------------------
4.3. Courses
--------------------*/
#courses ul{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #797979;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
}
.card{
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
}

.card a{
    display:inline-block;
    width:100%;
    height:100%;
    padding: .75rem 1.25rem;
    text-decoration: none;
}

.card a:hover{
  color: #007bff;
}

.list-group-item{
  padding: 0 !important;
}

.track:hover{
  opacity: 0.9;
}

@media (max-width: 992px){
  #courses .row{
    margin-bottom: 0!important;
  }
  .card{
    margin-bottom: 3rem;
  }
}



figure {
	position: relative;
    overflow: hidden;
    margin: 10px 1%;
    background: #726FB9;
    text-align: center;
    cursor: pointer;
}

figcaption {
  color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
	background: #000;
	margin-bottom: 30px;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.dark-bg {
    background: #323232;
    color: #fff;
}

.light-bg {
	background-color: #f4f4f4;
}

.overlay-dark:before, .overlay-light:before {
    background-color: rgba(32,32,32,0.8);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.overlay-dark, .overlay-light {
    position: relative;
    z-index: 1;
}

.short-section {
    padding-top: 50px;
    padding-bottom: 110px;
}

.admission ul{
  font-size: 15px;
  font-family: 'Roboto', 'sans-serif';
  font-weight:300;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #797979;
  text-align: left;

}

.admission h2 {
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #fff;
}

.admission p {
  text-align: justify;
}

.admission h3 {
  text-align: left;
  color: #fff;
}

.admission a {
  color: #337ab7;
}

#admission-btn {
  color: #E74C3C;
  font-size: 20px;
}

#admission-btn:hover{
  color: #FFF;
}

.counter-item h6 {
    color: #fff;
    font-size: 19px;
    margin: 0;
}

/*--------------------
4.5. Partners Slider
--------------------*/
.company img{
  height:100px;
  display:block;
  margin:auto;
  object-fit: scale-down;
  margin-bottom: 20px;
}
.company p{
  text-align: justify;
}


.partner-logo {
    height: 80px;
    text-align: center;
}

.partner-logo img {
    height: 100%;
    width: auto !important;
}

/*--------------------
4.6. Academic information
--------------------*/
@media (max-width: 480px){
  #academic-timetables-div{
    margin-top: 40px;
  }
}

/*--------------------
4.7. Contact
--------------------*/

section#contact form {
    margin-top: 15px;
}
section#contact.form-group {
margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 15px;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-size: 13px;
}

@media (min-width: 768px){
  #contact-first-col{
    margin-left:100px;
  }
}



.contact h3 {
    margin-bottom: 30px;
}

.contact p {
    font-size: 13px;
}

.contact .day {
    display: inline-block;
    width: 80px;
}

.contact i {
    margin-right: 5px;
}

/*--------------------
5. Footer
--------------------*/

footer {
    padding: 30px;
    background-color: #000;
}

footer p {
    color: #B7B7B7;
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.6px;
}

footer p a {
    color: #fff;
}

footer p a span {
    color: #CB4335;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
}

/*--------------------
6. Modal
--------------------*/
.popover{
  max-width: 50% !important;
}

@media (max-width: 480px){
  .popover{
    max-width: 95% !important;
  }
}


.popover-content {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
 }

.pop-content h2{
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
}


.modal-content {
	border-radius: 0;
}

.modal-header{
  display: inline !important;
}
.modal-header .close {
	font-size: 30px;
}
.modal-title {
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 20px;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;
}

.modal-works {
font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}

.modal-works span {
	background-color: #EC7063;
    margin-right: 15px;
    padding: 5px 10px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #fff;

}

.btn-enrollment:hover{
  background-color: rgba(236, 112, 99, 0.8);
  color:white;
  border-color:rgba(236, 112, 99, 1);
}

/*
.btn:hover, .open .dropdown-toggle.btn {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #fff;
}*/

.btn:focus, .btn:active, .btn.active{
  color: #fff;
  background-color: Transparent;
  border-color: rgba(255, 255, 255, 0.5);
  font-family: "Robot",sans-serif;
}

.btn {
    display: inline-block;
    padding: 8px 40px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-xl {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
    font-family: "Robot",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    margin-top:20px;
    animation-name:btn-xl-appear;
    animation-duration: 4.5s;
    animation-delay: 0s;
}

.btn-enrollment{
  color: #EC7063;
  /*background-color: rgba(254, 197, 3, 0.9);*/
  background-color: rgba(236, 112, 99, 0.1);
  /*border-color: rgba(255, 255, 255, 0.5);*/
  border-color:#EC7063;
  font-family: "Robot",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  margin-top:30px;
  animation-name:btn-enrollment-appear;
  animation-duration:4.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
}

@keyframes btn-xl-appear {
  0%{
    color:transparent;
    background-color: transparent;
    border-color:transparent;
  }
  70%{
    color:transparent;
    background-color: transparent;
    border-color:transparent;
  }
  100%{
    color:#fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color:rgba(255, 255, 255, 0.5);
  }
}

@keyframes btn-enrollment-appear {
  0%{
    color:transparent;
    background-color: transparent;
    border-color:transparent;
  }
  70%{
    color:transparent;
    background-color: transparent;
    border-color:transparent;
  }
  100%{
    color:#EC7063;
    background-color: rgba(236, 112, 99, 0.1);
    border-color:#EC7063;
  }
}

.btn-enrolment2{
  color: #E74C3C;
  /*background-color: rgba(254, 197, 3, 0.9);*/
  background-color: transparent;
  /*border-color: rgba(255, 255, 255, 0.5);*/
  border-color:#E74C3C;
  font-family: "Robot",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 14px;
  padding: 20px 40px;
  margin-top:30px;
  /*margin-left:50px;*/
}

.btn-enrolment2:hover{
  background-color: rgba(231,76,60,0.8);
  color:white;
  border-color:#E74C3C;

}

 .btn-enrolment2:focus{
  background-color: transparent;
  color: #E74C3C;
  border-color:#E74C3C;
}

@media (max-width: 480px){
  .btn-enrolment2{
    font-size: 14px;
    padding: 20px 20px;
    margin-top: 15px;
  }
  .btn-enrollment{
    font-size: 14px;
    padding: 20px 20px;
    margin-top: 15px;

  }
  .btn{
    font-size: 14px;
    padding: 16px 20px;
    margin-top: 15px;
  }
}

/* Back to top button
---------------------------------- */
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}
#back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #A9A9B1;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    background: #E74C3C;
}
/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
}
#back-top a {
    width: 40px;
    height: 40px;
}
#back-top i {
    margin-top: 7px;
    font-size: 20px;
}
}
